+++
title = "SIG Contributor Strategy"
linkTitle = "SIG Contributor Strategy"
+++

{{< blocks/cover title="CNCF SIG Contributor Strategy" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<p class="lead mt-5">SIG Contributor Strategy is responsible for contributor experience,
		sustainability, governance, and openness guidance to help CNCF community groups
		and projects with their own contributor strategies for a healthy project.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The mission of CNCF SIG Contributor Strategy is to collaborate on strategies
related to building, scaling, and retaining contributor communities, including
(people) governance, communications, operations, and tools. We want to help grow
flourishing, sustainable communities with smooth journeys throughout their CNCF
project lifecycle. To do that we will:
{{% /blocks/lead %}}

<div class="nested-section">
{{< blocks/section color="primary" >}}

{{% blocks/feature %}}
**Create intentional space**
  
Host a maintainers circle omprised of those interested in growing their projects
and joining fellow maintainers in related cross project discussions.
{{% /blocks/feature %}}

{{% blocks/feature %}}
**Listen and Advise**

Create informational and training resources including guides, tutorials and
templates of best practices, trade-offs, strategies, building and participating
in scalable contributor communities.
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="primary" >}}
{{% blocks/feature %}}
**Evaluate and Foster**

Assist the TOC with assessments and due diligence of prospective new projects
by developing community graduation criteria check points for rolling feedback
and guidance.
{{% /blocks/feature %}}

{{% blocks/feature %}}
**Educate and Engage**

Provide guidance to end users on how to engage with contributors and vice
versa.
{{% /blocks/feature %}}

{{< /blocks/section >}}
</div>

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-gavel" title="Governance" %}}
Looking to improve your project's governance model? We've got you covered!

{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-heartbeat" title="Contributor Growth" url="https://github.com/google/docsy-example" %}}
Need more contributors? Maybe a few good maintainers? We can help you
sustainably grow your contributor base, and provide tips for doing so without
burning out.

{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-handshake" title="Maintainers Circle" url="https://twitter.com/docsydocs" %}}
Connect with other maintainers, share best practices, comiserate and grow.

{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

