/*

Add styles or override variables from the theme here.

*/

$secondary: #BA5A31;

.td-main {
    .nested-section {

        section:first-of-type {
            padding-top: 0;
        }

        .row {
            justify-content: space-evenly;
            padding-top: 0;
        }
    }
}
