/*

Add styles or override variables from the theme here.

*/

$secondary: #BA5A31;

.td-default main .section-group section ~ section {
    padding-top: 0;
}

.td-default main .section-group section:first-of-type {
    padding-top: 5rem;
}

.td-main {
    .row {
        justify-content: space-evenly;
    }
}

